<div layout:decorator="layout/layout"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.w3.org/1999/xhtml">
    <th:block layout:fragment="layout-content">
        <main>
            <section>
                <article>
                    <ul>
                        <li>このページはあえてページそのものにアクセス制限を仕掛けていない。</li>
                        <li>ユーザロールをもっていないとチャットに書き込めないし読み込めない。</li>
                        <li>"throw"と入力するとサーバで例外が出る。（クライアントに伝搬し、jsコンソール出力）</li>
                        <li>メッセージは15文字制限、空文字不可。サーバでバリデーションを行いalert表示</li>
                    </ul>
                </article>
            </section>
            <section>
                <article data-chatroom-id="1" id="room1"></article>
                <article data-chatroom-id="2" id="room2"></article>
            </section>
        </main>
    </th:block>
</div>